.button {
  .adaptive-size(329, 285);
  width: @size;
  height: 50px;
  background: @button-primary-color;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @white;
  #flex-space-between();
  border: none;
  box-shadow: 0 4px 4px @button-box-shadow-color;
  cursor: pointer;

  &:active {
    box-shadow: none;
  }

  &:focus {
    outline: none;
  }

  &__children {
    #flex-center();
    padding-left: 15px;
  }

  &__link {
    width: 50px;
    height: 50px;
    background: @button-secondary-color;
    #flex-center();
  }

  &_secondary {
    width: 166px;
    background: none;
    border: 1px solid @button-primary-color;
  }

  &_slider {
    width: 50.5px;
    height: 50.5px;
    border-radius: 50%;
    background: none;
    border: 2px solid @orange;
    position: relative;
  }
}