@white: #FFFFFF;
@black: #202020;
@black-secondary: #161616;
@button-primary-color: #FF834E;
@button-secondary-color: #DE774B;
@orange: #EF8B54;
@font-black: #393939;
@mine-shaft: #292929;
@box-shadow-color: rgba(0, 0, 0, 0.25);
@button-box-shadow-color: rgba(255, 131, 78, 0.25);
@menu-background-color: rgba(0, 0, 0, 0.9);


