@font-face {
  font-family: 'Roboto';
  src:  url('../fonts/Roboto/Roboto.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
